* {
    padding: 0;
    margin: 0;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    color: white;
}

html,
body {
    background: transparent;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.25rem;
    padding: 0.15rem 0.25rem;
    align-items: center;
    width: auto;
}

.general,
.danger {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > div {
    padding: 0.35rem 0rem;
}

hr {
    color: red;
    border: 0.05rem solid rgb(80, 80, 80);
    width: 95%;
}

button {
    background-color: transparent;
    width: 100%;
    text-align: start;
    border: none;
    font-size: 14px;
    border-radius: 0.4em;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.25rem;
}

button:hover {
    background-color: rgb(0, 102, 255);
}
